@model DaySpring.ViewModels.SermonsResponseModel

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewData["Title"] = "SuperAdminAudioIndex";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
    }
    <form class="signup-form form-inline justify-content-center pt-3">
        <div class="form-group">
            @*<label class="sr-only" for="semail">Your email</label>*@
            <input name="title" type="text" style="font-size:2rem" class="form-control" placeholder="Enter Title">
        </div>
        <button class="btn" asp-action="GetSermonAudiosByTitleSuperAdmin" style="font-size: 1.5rem; padding: 10px 60px; background-color: rgb(185, 175, 175);">Search</button>
    </form>
    <div class="container">
        <div class="heading">Sermons</div>
        <div class="music-container">
            @foreach (var sermon in Model.Data)
            {
                <div class="box">
                    @if (sermon.Member == null)
                    {
                        <div class="image">
                            <img src="~/PreachersPicture/@sermon.Preacher.Picture" alt="">
                        </div>
                        <div class="music">
                            <div class="head">@sermon.Title by @sermon.Preacher.Name</div>
                            <audio controls>
                                <source src="~/SermonAudios/@sermon.Audio" type="audio/mp3" />
                            </audio>
                        </div>
                    }
                    else
                    {
                        <div class="image">
                            <img src="~/Registration/images/signup-bg.jpg" alt="">
                        </div>
                        <div class="music">
                            <div class="head">@sermon.Title by @sermon.Member.FirstName @sermon.Member.LastName</div>
                            <audio controls>
                                <source src="~/SermonAudios/@sermon.Audio" type="audio/mp3" />
                            </audio>
                        </div>
                    }

                </div>
            }

        </div>
    </div>

</body>
</html>
