@model DaySpring.ViewModels.AnnouncementsResponseModel

@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    ViewData["Title"] = "GetAnnouncementsByTitle";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Announcement/assets/img/favicon.ico">
    <title>Mediumish - A Medium style template by WowThemes.net</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Announcement/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Announcement/assets/css/mediumish.css" rel="stylesheet">
</head>
<body>

    <!-- Begin Top Author Page
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="mainheading">
                    <div class="row post-top-meta authorpage">
                        <div class="col-md-10 col-xs-12">
                            <h1>Announcements</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Author Meta
    ================================================== -->
    <!-- Begin Author Posts
    ================================================== -->
    <div class="graybg authorpage">
        <div class="container">
            <div class="listrecent listrelated">
                @foreach (var announcement in Model.Data)
                {
                    <div class="authorpostbox">
                        <div class="card">
                            <a asp-action="Details" asp-route-id="@announcement.Id">
                                <img class="img-fluid img-thumb" src="~/AnnouncementImages/@announcement.AnnouncementImage" alt="">
                            </a>
                            <div class="card-block">
                                <h2 class="card-title">@announcement.Title</h2>
                                <h4 class="card-text">@announcement.Description</h4>
                                @{
                                    if (announcement.EndingDate != announcement.StartingDate)
                                    {
                                        <span class="post-date">@announcement.StartingDate</span>
                                        <div class="metafooter">
                                            <div class="wrapfooter">
                                                <span class="author-meta">
                                                    <span class="post-date">Added on @announcement.DateAdded</span>
                                                </span>
                                                <span class="post-read-more"><a asp-action="Details" asp-route-id="@announcement.Id" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="post-date">@announcement.StartingDate</span><span class="text"> to </span><span class="post-date">@announcement.EndingDate</span>
                                        <div class="metafooter">
                                            <div class="wrapfooter">
                                                <span class="author-meta">
                                                    <span class="post-date">Added on @announcement.DateAdded</span>
                                                </span>
                                                <span class="post-read-more"><a asp-action="Details" asp-route-id="@announcement.Id" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <button class="btn" style="background-color: #202342;"><a asp-action="Index">Back</a></button>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Announcement/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/Announcement/assets/js/bootstrap.min.js"></script>
    <script src="~/Announcement/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

