@model DaySpring.ViewModels.RolesResponseModel

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="card-header" style="background-color: whitesmoke;">
    <div class="card-title">
        <h1 class="text-center">Roles</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@

            <th>
                Name
            </th>



            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.Data)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => course.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => session.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@session.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@session.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@session.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary offset-10 " style="background-color: whitesmoke;"><a asp-action="Create">Add Role</a></button>