@model DaySpring.ViewModels.PreacherResponseModel

@{
    Layout = "~/Views/Shared/_MediaLayout.cshtml";
    ViewData["Title"] = "MediaDetails";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Announcement/assets/img/favicon.ico">
    <title>Mediumish - A Medium style template by WowThemes.net</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Announcement/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Announcement/assets/css/mediumish.css" rel="stylesheet">
</head>
<body>

    <!-- Begin Article
    ================================================== -->
    <div class="container">
        <div class="row">

            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading">

                    <h1 class="posttitle">@Model.Data.Name</h1>

                </div>

                <!-- Begin Featured Image -->
                <img class="featured-image img-fluid" src="~/PreachersPicture/@Model.Data.Picture" alt="">
                <!-- End Featured Image -->
                <!-- Begin Post Content -->
                <div class="article-post">
                    <p>
                        @Model.Data.Details
                    </p>
                </div>
                <!-- End Post Content -->
                <!-- Begin Tags -->
                <div class="after-post-tags">
                    <ul class="tags">
                        <li><a asp-action="Edit" asp-route-id="@Model.Data.Id">Make few changes to this Preacher</a></li>
                        <li><a asp-action="Delete" asp-route-id="@Model.Data.Id">Delete this Preacher</a></li>
                    </ul>
                </div>
                <!-- End Tags -->

            </div>
            <!-- End Post -->

        </div>
    </div>
    <div class="alertbar">
        <div class="container text-center">
            <img src="#" alt=""> &nbsp; View <b>sermons</b> by this preacher.<a asp-action="MediaGetSermonsByPreacher" asp-controller="Sermon" asp-route-id="@Model.Data.Id" class="btn subscribe">View</a>
        </div>
    </div>
    <!-- End AlertBar
    ================================================== -->
    <!-- Begin Footer
    ================================================== -->
    <div class="container">
        <div class="footer">
            <p class="pull-left">
                Copyright &copy; 2022 DaySpring
            </p>
            <p class="pull-right">
                Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
            </p>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <!-- End Footer
    ================================================== -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
	var currentDate = new Date();
    </script>
    <script src="~/Announcement/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/Announcement/assets/js/bootstrap.min.js"></script>
    <script src="~/Announcement/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Announcement/assets/js/mediumish.js"></script>
</body>
</html>
