@model DaySpring.ViewModels.MembersPaymentViewModel
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    ViewData["Title"] = "MemberDashboard";
}


<div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-30">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="~/Dashboard/vendors/images/banner-img.png" alt="">
            </div>
            <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-10 text-capitalize">
                    Welcome back <div class="weight-600 font-30 text-blue">@User.Identity.Name!</div>
                </h4>
                <p class="font-18 max-width-600">This is Dayspring, a place where you discover purpose, build potentials and fulfill dreams</p>
            </div>
        </div>
    </div>

    <div class="card-header" style="background-color: whitesmoke;">
        <div class="card-title">
            <h1 class="text-center">My Payments</h1>
        </div>
    </div>
    @*<table class="table justify-content-center align-items-center">*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Transaction Reference
                </th>
                <th>
                    Details
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transation in Model.Payments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transation.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transation.PaymentReference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transation.PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transation.CreatedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- js -->
