@model DaySpring.ViewModels.CategoriesResponseModel

@{
    Layout = "~/Views/Shared/_MediaLayout.cshtml";
    ViewData["Title"] = "MediaIndex";
}

<div class="card-header" style="background-color: whitesmoke;">
    <div class="card-title">
        <h1 class="text-center">Category</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@

            <th>
                Name
            </th>



            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Data)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => course.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="MediaDetails" asp-route-id="@category.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary offset-10 " style="background-color: whitesmoke;"><a asp-action="Create">Add Category</a></button>